{% extends "base.html" %}
{% load static %}
{% block container %} 
         <div class="content-inner">
          <!-- Page Header-->
          <header class="page-header">
            <div class="container-fluid">
              <h2 class="no-margin-bottom">Perfil - Em Produção</h2>
            </div>
          </header>
          <section class="dashboard-counts no-padding-bottom">
            <div class="container-fluid">
              <div class="row bg-white has-shadow">
                <!-- Item -->
                <div class="col-xl-2 col-sm-2">
                  <div class="item d-flex align-items-center">
                    <div class="avatar"><img src="{% static 'img/avatar-1.jpg' %}" alt="..." class="img-fluid rounded-circle"></div>

                  </div>
                </div>
                <div class="col-xl-4 col-sm-3 col-lg-4">
                  
                    <div class="card-body">
                      <form>
                        <div class="form-group">
                          <label class="form-control-label">Nome Completo</label>
                          <input type="Nome" placeholder="Luís Paulo Corrêa" class="form-control">
                        </div>
                        <div class="form-group">       
                          <label class="form-control-label">Data de Nascimento</label>
                          <input type="password" placeholder="10/04/1992" class="form-control">  
                        </div>
                      </form>
                    </div>
                  
                </div>
                <div class="col-xl-4 col-sm-3 col-lg-4">
                  
                    <div class="card-body">
                      <form>
                        <div class="form-group">
                          <label class="form-control-label">Nome Completo</label>
                          <input type="Nome" placeholder="Luís Paulo Corrêa" class="form-control">
                        </div>
                        <div class="form-group">       
                          <label class="form-control-label">Data de Nascimento</label>
                          <input type="password" placeholder="10/04/1992" class="form-control">
                        </div>
                      </form>
                    </div>
                  
                </div>

              </div>
            </div>
          </section>


         </div>
{% endblock %}

